/* /se borra el formato por defecto/ */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* navigator start */
.menu-principal{
  background-color: rgba(0, 0, 0, 90%);
  width: 100%;
}
.menu-principal ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  list-style-type: none;
}
.menuItems{
  display: flex;
  padding: 7px 10px;

}
.menuItems a{
  color: rgba(255, 251, 251, 0.9);
  text-decoration:none;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
}
/* /navigator end/ */

/* /header start/ */
#logo {
  background-color: rgba(53, 91, 145, 90%);
  height: 36%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
#containerHeader{
  display: flex;
  position: absolute;
  z-index: 1;
  height: 530px;
  width: inherit;
  background-image: url("./imagenes/backgroundHeader.jpeg");
  background-position: center;
  background-size: 100px;
  opacity: 15%;
}
.logoImage img{
  height: 530px;
  width: 100%;
}
.logoImage{
  display: flex;
  height: 32%;
  align-items: center;
  display: inline-flex;
  width: 35%;
  margin: 0 20px;
  z-index: 2;
}
.letterLogo{
  background-color: tomato;
  border-radius: 20px;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
  width: 45%;
  margin: 0 10px;
  z-index: 2;
}
.letterLogo p:first-child{
  color: white;
  font-family: 'RocknRoll One', sans-serif;
  font-size: 3.5rem;
  display: flex;
  align-self: center;
}
.letterLogo hr{
  align-self: center;
  display: flex;
  background-color: white;
  width: 96%;
  height: 7px;
}
.letterLogo p:last-child{
  color: white;
  align-self: center;
  font-size: 3rem;
  font-family: 'RocknRoll One', sans-serif;
}
@media only screen and (max-width: 875px) {
  .letterLogo p:first-child {
    font-size: 2rem;
  }
  .letterLogo p:last-child{
    font-size: 2rem;
  }
}
@media only screen and (max-width: 555px) {
  .letterLogo p:first-child {
    font-size: 1.5rem;
    padding: 5%;
  }
  .letterLogo p:last-child{
    font-size: 1.5rem;
    padding: 5%;
  }
}
/* /header end/ */

/* /bio start/ */
.bio {
  display: flex;
  background: #6686ac;
  padding: 50px 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  justify-content: center;
  align-items: center;
  line-height: 1em;
}
.questionbio {
  text-align: center;
  width: 320px;
  padding-bottom: 18px;
  line-height: 44px;
  width: 100%;
}
.ghiblibio {
  text-align: justify;
  width: 50%;
  line-height: 34px;
}
.gifTotoro{
  width: 30%;
}
.totoroimage {
  width: 100%;
  height: 250px;
  border-radius: 50%;
  text-align: right;
  padding-left: 15px;
  margin: 55px 35px;
}
/* /bio end/ */

/* Founder section start*/
.founders {
  align-items: center;
  background: rgba(197, 198, 199, 0.91);
  padding: 1px 1px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
}
.imagefounders {
  width: 170px;
  height: 160px;
  border-radius: 50%;
  padding-top: 0.5px;
  padding-bottom: 0.5px;
}
.imagehayao {
  padding-left: 20px;
  padding-right: 40px;
  text-align: center;
  object-fit: cover;
}
.styleimage {
  padding-right: 40px;
  text-align: center;
  object-fit: cover;
}
.founderscontainer {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
.titlefounder {
  text-align: center;
  padding-bottom: 40px;
  width: 100%;
}
/* Founder section end*/

/* options section start*/
.optionsFilmsandWeb{
  display: flex;
  flex-wrap: wrap;
  padding: 50px  50px;
  align-items: center;
  justify-content: center;
  background: #A9D0CC;
  width: 100%;
  }
.container{
  width: 20%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.container:hover{
  transform: scale(1.1);
  transition: transform .2s;
  cursor: pointer;
}
.filmsimage{
  padding: 5%;
  background-color: aliceblue;
  display: flex;
  align-self: center;
  justify-content: center;
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.textoptions{
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding-top: 30px;
}
/* options section end*/

/* second view about Films start */
#secondView{
  background-image: url("./imagenes/bgScreen2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7;
}
.InputSearchMovie{
  font-size: 300%;
  font-weight: bold;
  font-family: cursive;
  display: none;
  flex-wrap: wrap;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.30);
  color: rgba(255, 255, 255, 0.9);

}
#InputSearchMovie{
  border-radius: 10px 100px / 120px;
  width: 40%;
  font-size: 40%;
  margin: 2%;
  height: 40%;
  align-self: center;
}

.home{
  background-color:rgb(235, 187, 17);
  width: 8%;
  height: 12%;
  align-items: center;
  border-radius: 0 0 0 20px;
  display: none;
  justify-content: center;
  border: 1px black solid;
  font-size: 300%;
  padding: 14px;
  position: absolute;
  right: 0%;
}
.home img:focus{
  background-color:rgb(17, 77, 69);
  cursor: pointer;
}

.dropbtn{
  background-color:rgb(235, 187, 17);
  color: white;
  border: 1px black solid;
  font-size: 40px;
  padding: 14px;
  display: none;
  width: 100%;
  border-radius: 0 0 20px 0;
}
.dropbtn:hover{
  background-color:rgb(17, 77, 69);
  cursor: pointer;
}
.dropdown{
  width: 8%;
}
.dropdown-content {
  background-color: transparent;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  z-index: 1;
  border: none;
  font-weight: bold;
  display: none;
}
.show {
  display: block;
}

.resultAverage{
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  color:rgba(255,255,255);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  display: flex;
  align-content: space-around;
  text-align: center;
}

#movieList{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.movieItem{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 20%;
  padding: 10px;
  background-color: #bd9d88;
  border-radius: 25px;
  border: 2px solid black;
  margin: 20px;
  height: 40%;
  filter: blur(0.4px);
}
.movieItem img{
  display: flex;
  width: 80%;
  align-self: center;
}
.movieItem h2{
  font-size: 100%;
  width: 98%;
  text-align: center;
  margin: 5px 0;
}
.movieItem:hover{
  transform: scale(1.2);
  transition: transform .2s;
  filter: blur(0px);
  cursor: pointer;
}
/* second view about Films end */

/* thirdView start */
#thirdView {
  display: none;
  flex-direction: column;

}
 /* Third view title and description  */
 .containermovies{
  background-image: url("./images/one.jpeg");
 }
 .moviesInfo{
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 50px;
  padding: 20px 100px 60px 100px;
  background-color: #496c97
 }
.moviesInfoOnly{
  display: none;
  justify-content: center;
  flex-direction: column;
  font-size: 22px;
  padding: 80px 150px 50px 150px;
  
}
.sipnosistitle{
  display: flex;
  justify-content: center;
  font-size: 25px;
}
.moviedirector{
  font-size: 18px;
}
.movieproducer{
  font-size: 18px;
}
.titlemovie {
  display: flex;
  justify-content: center; 
  font-size: 23px;
  padding-top: 50px;
}
.movieimage{
   display: flex;
    justify-content: center;
    height: 350px;
    margin: 45px;
    object-fit: cover;
    
}
.poster{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 15px;
  width: 280px;
  height: 380px;
  object-fit: cover;
}

.cartoons {
  padding: 85px 62px 45px;
  align-items: center;
  margin: 150px;
  border-radius: 50px;
  box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;
  background-color: #95adb6;
}
#cartoons-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 35px;
    column-gap: 28px;  
}
.subtitles{
  padding-bottom: 48px;
  text-align: center;

}
.divTopic {
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#locationsOfEachMovie{
  padding: 85px 62px 45px;
    align-items: center;
    margin: 150px;
    border-radius: 50px;
    box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;
    background-color: #7e7f83;
}
.location-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 35px;
  column-gap: 28px;
}

#vehiclesName{
  padding: 85px 62px 45px;
  align-items: center;
  margin: 150px;
  border-radius: 50px;
  box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;
  background-color: #8da1b9 ;
}
.vehicle-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 35px;
  column-gap: 28px;
}
.character {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 16px;
}
.namecharacter{
  text-align: center;
}

.movielocation{
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.locationimage{
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.vehicleimage{
  width: 150px;
  height: 150px;
  object-fit: cover;
}
/* thirdView end */

/*fourthView start*/
.myModal{
  background-color: rgba(235,196,230);
  width: 50%;
  height: 60%;
  position: fixed;
  z-index: 2;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20%;
  left: 25%;
  border-radius: 15px 50px;
}
.close{
  display: flex;
  width: 4%;
  font-size: 150%;
  position: absolute;
  top: 4%;
  right: 4%;
}
.close:hover,
.close:focus {
  cursor: pointer;
  border-radius: 7px solid black;
  transform: scale(1.5);
  transition: transform .2s;
}
.myModal h3{
  text-transform: uppercase;
  font-family: 'RocknRoll One', sans-serif;
  display: flex;
  flex-wrap: wrap;
  padding: 2% 0;
}
.myModal img{
  border:rgba(0, 0, 0, 0.8) dotted 1px;
  border-radius: 10% 30% 50% 70%;
  width: 30%;
  height: 30%
}
.myModal p{
  padding: 2% 0;
  font-family:'Times New Roman', Times, serif;
  font-size: 80%;
}
/*fourthView end*/

/* footer start */
footer {
  background-color: rgba(0, 0, 0, 90%);
  display: flex;
  flex-wrap: nowrap;
  height: 100px;
  justify-content: space-around;
  width: 100%;
}
.pie-de-pagina {
  align-self: center;
  bottom: -200px;
  color: rgba(239, 197, 46, 100%);
  display: flex;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
.imagen-totoro {
  position: relative;
  z-index: 3;
}
/* footer end */
