* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, helvetica;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 0px;
    background-color: #00283A;
    align-items: center;
}
input[type=search] {
    position: relative;
    border: 1px solid gray;
    border-radius: 12px;
    width: 30%;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
}
.search  {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
header ol {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
ol {
    list-style: none;
}
header a {
    font-size: 23px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 0 10px;
}

.detallePelicula{
    height: 90vh;;
    width: 95vw;
    margin: 1%;
    border: 2px solid #00283A ;
    display: flex;
}


.detallePelicula .imagenPelicula{
    height: 50vh;
    width: 50vw;
    border: 2px solid #00283A;
    margin:  50px 20px  auto ;
}

.cuadros {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.description {
    height: 10vh;
    width: 50vw;
    background-color: violet;
    margin: 20px 30px;
    padding: 30px;
    border:2px solid #00283A;
}


.director, .fecha ,.producer ,.rtScore {
    height: 10vh;
    width: 10vw;
    background-color: violet;
    margin: 20px 30px;
    padding: 30px;
    border:2px solid #00283A;
    justify-content: center;
    text-align: center;
}

#d1 {
    background-color:#FBFBFF;
}

.iconosPeliculas {
    display: flex;
    justify-content: center;
}

#botonCharacters ,#botonLocation,#botonVehicles {
    width: 30vh;
    background-color:#C8C34A;
    color: black;
    display: inline-block;
    font-size: 20px;
    margin: 20px;
    padding: 10px ;
    text-align: center;
    text-decoration:none;
    box-shadow:0px 0.5px 0px  ;
    border-radius: 10%;
}

section button i {
    padding: 20px;
}

.cuadroLista {
    height: 90vh;
    width: 90vw;
    margin: 1%;
    padding: auto;
    display: flex;
    border: solid #DBF0D9;
    border-radius: 1%;
}


#imagen {
    margin:7%;
    height: 30vh;
    width: 18vw;
    background-color: chartreuse;
    display: flex;
    justify-content: center;
}

#per1 ,#per2 ,#per3 ,#per4 {
    margin: 1%;
    height: 70vh;
    width: 60vw;
    border-radius:10%;
    margin: 1%  solid #00283A ;
    padding: auto;
    border-radius: 1%;
    background-color: cadetblue;
    align-content: center;
    text-align: center;
}

.cuadropersonal {
    margin: 1%  solid #00283A ;
    padding: auto;
    border-radius: 1%;
}
.welcome-main {
    background-image: url(./img/Image-Studio-ghibli.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;

}
.welcome-main::before {
    content: "";
    width: 100%;
    height: 100vh;
    background-color: black;
    position: absolute;
    opacity: 0.5;
}
.text {
    position: relative;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    padding: 20px 10px;
}
.button {
    display: flex;
    justify-content: center;
}
.button a{
    background-color: #00283A;
    position: relative;
    border: 1px solid #00283A;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    width: 18%;
    padding: 12px;
    margin-top: 12px;
}
/*.home-main {
    background-image: url(./img/studio_ghibli.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}
.home-main::before {
    content: "";
    width: 100%;
    height: 100vh;
    background-color: black;
    position: absolute;
    opacity: 0.5;
}*/
.list-title p {
    position: relative;
    color: black;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 0px;
}
.filter form {
    position: relative;
    display: flex;
    justify-content: center;
}
#list20, #list-order {
    width: 16%;
    padding: 10px;
    margin: 8px 15px;
    cursor: pointer;
    font-size: 1rem;
}
option {
    cursor: pointer;
}
#container-animes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#image-poster {
    width: 15vw;
    display: block;
    margin: auto;
}
#title {
    background-color: #232323;
    color: white;
    font-size: 1rem;
    padding: 10px;
    width: 15vw;
    display: block;
    margin: auto;
}
#release {
    background-color: #232323;
    color: white;
    display: block;
    margin: auto;
    width: 15vw;
    height: 5vh;
    padding: 0 10px;
}
footer {
    background-color: #00283A;
    color: white;
    padding: 30px;
}
.footer-text {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

